<template>
  <q-page class="row items-center justify-evenly">
    <auth-component></auth-component>
  </q-page>
</template>

<script lang="ts">
import AuthComponent from 'components/AuthComponent.vue';
import { defineComponent } from 'vue';

export default defineComponent({
  name: 'PageIndex',
  components: { AuthComponent },
  setup() {
    return {};
  },
});
</script>
