<template>
  <q-form autofocus @submit="onSubmit" @reset="onReset">
    <q-input
      rounded
      outlined
      v-model="email"
      type="email"
      label="Email"
      lazy-rules
      :rules="[(val) => !!val || 'Email requis', isValidEmail]"
    />
    <q-input
      rounded
      outlined
      v-model="password"
      label="Mot de passe"
      type="password"
      @keyup.enter="submit"
      lazy-rules
      :rules="[(val) => (val && val.length > 0) || 'Mot de passe requis']"
    />
    <q-btn color="primary" type="submit" label="Login" />
  </q-form>
</template>

<script>
import { defineComponent, ref } from "vue";

export default defineComponent({
  name: "AuthExtensionComponent",
  props: {
    submit: { type: Function },
  },
  setup(props) {
    const email = ref(null);
    const password = ref(null);
    return {
      email,
      password,
      onSubmit() {
        props.submit({ email: email.value, password: password.value });
      },
      onReset() {
        this.email = "";
        this.password = "";
      },
      isValidEmail() {
        const emailPattern =
          /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/;
        return emailPattern.test(email.value) || "Email invalide";
      },
    };
  },
});
</script>
