<template>
  <div>
    <auth-extension-component :submit="submit"></auth-extension-component>
  </div>
</template>

<script lang="ts">
import { useMutation } from '@vue/apollo-composable';
import gql from 'graphql-tag';
import { defineComponent } from 'vue';
import { useQuasar } from 'quasar';

export default defineComponent({
  name: 'AuthComponent',
  setup() {
    const $q = useQuasar();
    const {
      mutate: submitCredentials,
      onDone,
      onError,
    } = useMutation(gql`
      mutation submitCredentials($email: String, $password: String) {
        login(email: $email, password: $password) {
          email
          accessToken
        }
      }
    `);
    onDone((result) => {
      if (result.data.login.accessToken) {
        localStorage.setItem('accessToken', result.data.login.accessToken);
        $q.notify({
          color: 'green-4',
          textColor: 'white',
          icon: 'check',
          message: 'Utilisateur authentifié avec succès',
        });
      }
    });
    onError((err) => {
      $q.notify({
        color: 'red-4',
        textColor: 'white',
        icon: 'close',
        message: err.message,
      });
    });
    return { submitCredentials };
  },
  methods: {
    async submit(values: any) {
      await this.submitCredentials(values);
    },
  },
});
</script>
